$primary-color:#535657;
$body-background-color:#ffffff;
$secondary-color:#DEE7E7;
$contrast-color:#4F646F;
$tertiary-color:#f4faff;

$white: #ffffff;
$black:#000000;
$error-message: red;
$valid-message: green;
