body {
  margin: 0;
  padding-top: 50px;
  font-family: sans-serif;
}

body .logo {
  width: 50px;
  height: 50px;
}

body header {
  background-color: #535657;
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
}

body header div {
  color: #f4faff;
  margin-right: 20px;
  justify-self: flex-end;
  cursor: pointer;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container .subsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

body header .container .right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body nav {
  background-color: #DEE7E7;
}

body nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  z-index: 20;
}

body nav ul li {
  position: relative;
}

body nav ul li a {
  color: #535657;
  text-decoration: none;
}

body nav ul li ul {
  display: none;
  position: absolute;
  background-color: #DEE7E7;
  min-width: 160px;
  padding: 12px 0;
  height: auto;
}

body nav ul li ul li {
  padding: 5px 16px;
  font-weight: normal;
}

body nav ul li ul li:hover a {
  color: #000000;
}

body nav ul li ul li:first-letter {
  text-transform: uppercase;
}

body nav ul li:hover > a {
  color: #000000;
}

body nav ul li:hover ul {
  display: block;
}

body .hero {
  background-image: url("../images/header.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  height: 50vh;
  color: #f4faff;
}

body .hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body .hero form input[type="text"] {
  width: 15vw;
}

body .hero form label {
  display: block;
  text-align: center;
  padding-bottom: 15px;
}

body .hero form input[type="submit"] {
  background-color: #4F646F;
  color: #f4faff;
  border: 1px solid #4F646F;
}

body section.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
}

body section.carousel h3 {
  margin-top: 40px;
  text-transform: uppercase;
  color: #535657;
  font-weight: 300;
}

body section.carousel h4 {
  color: #535657;
  font-weight: 300;
  margin-top: 0;
}

body section.carousel h5 {
  color: #535657;
}

body section.carousel .product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

body section.carousel .product-slider .product img {
  height: 150px;
}

body section.carousel .product-slider .product {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DEE7E7;
  padding: 10px;
  max-width: 20%;
  width: 20%;
}

body section.carousel .product-slider .product.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section.carousel .product-slider button {
  background-color: #4F646F;
  color: #f4faff;
  border: 1px solid #DEE7E7;
}

body section.carousel .product-slider .arrow {
  position: absolute;
  color: #535657;
  font-size: 25px;
  z-index: 1;
  cursor: pointer;
}

body section.carousel .product-slider .arrow-right {
  right: 10px;
  bottom: 120px;
}

body section.carousel .product-slider .arrow-left {
  left: 10px;
  bottom: 130px;
}

body section.carousel .product-slider small {
  font-weight: bold;
  margin-bottom: 5px;
}

body .hero2 {
  background-image: url("../images/product5.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  height: 25vh;
  margin-top: 50px;
  color: #f4faff;
}

body .hero2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body .hero2 h2,
body .hero2 small {
  font-weight: bold;
  color: #DEE7E7;
}

body .hero2 button {
  background-color: #4F646F;
  color: #DEE7E7;
  margin-top: 5px;
  border: 1px solid #DEE7E7;
}

.container {
  margin: 0 auto;
  width: 85vw;
}

button,
input[type="submit"] {
  cursor: pointer;
}

section.subscribe {
  background-color: #535657;
  font-weight: lighter;
  color: #f4faff;
}

section.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.subscribe .container h2 {
  font-size: 22px;
}

section.subscribe input[type="text"] {
  width: 200px;
}

section.subscribe input[type="submit"] {
  background-color: #4F646F;
  color: #DEE7E7;
  border: 1px solid #DEE7E7;
}

footer {
  background-color: #DEE7E7;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F646F;
}

footer .container ul {
  list-style-type: none;
  padding-left: 0;
  color: #535657;
}

.modal {
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.modal-body {
  width: 45vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.modal-body .left {
  background-image: url("../images/login-left.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(83, 86, 87, 0.8);
          box-shadow: inset 0 0 0 2000px rgba(83, 86, 87, 0.8);
}

.modal-body .left h1,
.modal-body .left p {
  color: #DEE7E7;
}

.modal-body .left button {
  background-color: #4F646F;
  border: 1px solid #f4faff;
  color: #f4faff;
  width: 80%;
  margin: 0 auto;
}

.modal-body .right {
  background-color: #DEE7E7;
}

.modal-body .right label,
.modal-body .right input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0;
  margin: 7px 0;
}

.modal-body .right label {
  padding-bottom: 0px;
}

.modal-body .right .wrapper {
  position: relative;
}

.modal-body .right #show-password {
  position: absolute;
  bottom: 5px;
  right: 3px;
  color: #535657;
}

.modal-body .right input[type="submit"] {
  background-color: #4F646F;
  border: 3px solid #DEE7E7;
  color: #f4faff;
}

.modal-body .right a {
  color: #4F646F;
}

.modal-body .right #login-message,
.modal-body .right #password-validation-message,
.modal-body .right #email-validation-message {
  font-size: 13px;
  margin: 0;
}

.modal-body .right #login-message.invalid,
.modal-body .right #password-validation-message.invalid,
.modal-body .right #email-validation-message.invalid {
  color: red;
}

.modal-body .right #login-message.valid,
.modal-body .right #password-validation-message.valid,
.modal-body .right #email-validation-message.valid {
  color: green;
}

.modal-body .right h1 {
  margin: 12px 0;
}

.modal-body .right #show-password {
  cursor: pointer;
}

.modal-body section {
  padding: 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar {
  background-color: #f4faff;
  height: 60px;
}

.search-bar .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-bar input[type="text"] {
  width: 40vh;
}

.search-bar input[type="submit"] {
  background-color: #4F646F;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.product-page.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

#filter {
  width: 20%;
  height: 80%;
  background-color: #f4faff;
  border: 1px solid #DEE7E7;
  margin: 20px 0;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

#filter h4 {
  color: #535657;
}

#filter p {
  color: #4F646F;
  margin: 0;
}

#filter ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

#filter li {
  color: #535657;
  margin-top: 5px;
}

#products_list {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  margin-top: 13px;
}

#products_list select {
  margin: 0.5%;
}

#products_list .after-select {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#products_list p {
  width: 100%;
  text-align: center;
}

#products_list .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DEE7E7;
  margin: 0.5%;
  width: 24%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background-color: #f4faff;
}

#products_list .product:hover {
  -webkit-box-shadow: 0 0 8px #DEE7E7;
          box-shadow: 0 0 8px #DEE7E7;
}

#products_list .product:hover a {
  position: absolute;
  top: 35%;
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #4F646F;
  z-index: 10;
  font-size: 13px;
  cursor: pointer;
}

#products_list .product:hover img {
  opacity: 0.3;
}

#products_list .product a {
  display: none;
}

#products_list .product img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 9;
}

#products_list .product p {
  text-align: center;
  color: #4F646F;
  padding: 0 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#products_list .product span {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-weight: bold;
  margin: 10px;
}

#products {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#products li {
  width: 50%;
}

.product-container.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-container.container #product-description {
  background-color: #f4faff;
  border: 1px solid #DEE7E7;
  margin: 0.5%;
  width: 74%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container.container #product-description * {
  color: #535657;
}

.product-container.container #product-description h2 {
  font-weight: normal;
}

.product-container.container #product-description .images {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-container.container #product-description .image-expanded {
  position: relative;
  display: block;
}

.product-container.container #product-description .images-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-container.container #product-description .images-small img {
  width: 15%;
  margin: 0 1%;
  border: 1px solid #f4faff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-container.container #product-description .images-small img:hover, .product-container.container #product-description .images-small img.active {
  border: 1px solid #DEE7E7;
  -webkit-box-shadow: 0 0 8px #DEE7E7;
          box-shadow: 0 0 8px #DEE7E7;
}

.product-container.container #product-description #details {
  width: 100%;
}

.product-container.container #product-description #specifications {
  width: 100%;
}

.product-container.container #product-description #specifications table tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.product-container.container #product-description #specifications table td {
  padding: 8px;
}

.product-container.container p {
  text-align: justify;
}

.product-container.container #product-details {
  width: 24%;
  border: 1px solid #DEE7E7;
  margin: 0.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background-color: #f4faff;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

.product-container.container #product-details * {
  padding: 0 25px;
  display: block;
  color: #535657;
}

.product-container.container #product-details button {
  padding: 0.5em 3em;
  margin: 15px 10%;
  width: 80%;
  border: 0.16em solid #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #4F646F;
  z-index: 10;
  font-size: 13px;
  cursor: pointer;
}

.product-container.container #product-details a {
  border-top: 2px solid #DEE7E7;
  padding: 15px 25px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */