@import "colors";
body {
  margin: 0;
  padding-top: 50px;
  font-family: sans-serif;
  .logo {
    width: 50px;
    height: 50px;
  }
  header {
    background-color: $primary-color;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 10;
    div {
      color: $tertiary-color;
      margin-right: 20px;
      justify-self: flex-end;
      cursor: pointer;
    }
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      .subsection {
        display: flex;
        width: 50%;
      }
      .right {
        justify-content: flex-end;
      }
    }
  }
  nav {
    background-color: $secondary-color;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      height: 40px;
      padding: 0;
      margin: 0;
      font-weight: bold;
      z-index: 20;
      li {
        position: relative;
        a {
          color: $primary-color;
          text-decoration: none;
        }
        ul {
          display: none;
          position: absolute;
          background-color: $secondary-color;
          min-width: 160px;
          padding: 12px 0;
          height: auto;
          li {
            padding: 5px 16px;
            font-weight: normal;
            &:hover a {
              color: $black;
            }
            &:first-letter {
              text-transform: uppercase;
            }
          }
        }
        &:hover {
          & > a {
            color: $black;
          }
          ul {
            display: block;
          }
        }
      }
    }
  }
  .hero {
    background-image: url("../images/header.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    height: 50vh;
    color: #f4faff;
    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    form {
      input[type="text"] {
        width: 15vw;
      }
      label {
        display: block;
        text-align: center;
        padding-bottom: 15px;
      }
      input[type="submit"] {
        background-color: $contrast-color;
        color: $tertiary-color;
        border: 1px solid $contrast-color;
      }
    }
  }
  section.carousel {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    h3 {
      margin-top: 40px;
      text-transform: uppercase;
      color: $primary-color;
      font-weight: 300;
    }
    h4 {
      color: $primary-color;
      font-weight: 300;
      margin-top: 0;
    }
    h5 {
      color: $primary-color;
    }
    .product-slider {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      .product img {
        height: 150px;
      }
      .product {
        display: none;
        flex-direction: column;
        align-content: center;
        align-items: center;
        border: 1px solid $secondary-color;
        padding: 10px;
        max-width: 20%;
        width: 20%;
        &.active {
          display: flex;
        }
      }
      button {
        background-color: $contrast-color;
        color: $tertiary-color;
        border: 1px solid $secondary-color;
      }
      .arrow {
        position: absolute;
        color: $primary-color;
        font-size: 25px;
        z-index: 1;
        cursor: pointer;
      }
      .arrow-right {
        right: 10px;
        bottom: 120px;
      }
      .arrow-left {
        left: 10px;
        bottom: 130px;
      }
      small {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }
  .hero2 {
    background-image: url("../images/product5.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    height: 25vh;
    margin-top: 50px;
    color: $tertiary-color;
    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    h2,
    small {
      font-weight: bold;
      color: $secondary-color;
    }
    button {
      background-color: $contrast-color;
      color: $secondary-color;
      margin-top: 5px;
      border: 1px solid $secondary-color;
    }
  }
}
.container {
  margin: 0 auto;
  width: 85vw;
}
button,
input[type="submit"] {
  cursor: pointer;
}
section.subscribe {
  background-color: $primary-color;
  font-weight: lighter;
  color: $tertiary-color;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    h2 {
      font-size: 22px;
    }
  }
  input[type="text"] {
    width: 200px;
  }
  input[type="submit"] {
    background-color: $contrast-color;
    color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}
footer {
  background-color: $secondary-color;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: $contrast-color;
    ul {
      list-style-type: none;
      padding-left: 0;
      color: $primary-color;
    }
  }
}
.modal {
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}
.modal-body {
  width: 45vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  .left {
    background-image: url("../images/login-left.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(83, 86, 87, 0.8);
    h1,
    p {
      color: $secondary-color;
    }
    button {
      background-color: $contrast-color;
      border: 1px solid $tertiary-color;
      color: $tertiary-color;
      width: 80%;
      margin: 0 auto;
    }
  }
  .right {
    background-color: $secondary-color;
    label,
    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 5px 0;
      margin: 7px 0;
    }
    label {
      padding-bottom: 0px;
    }
    .wrapper {
      position: relative;
    }
    #show-password {
      position: absolute;
      bottom: 5px;
      right: 3px;
      color: $primary-color;
    }
    input[type="submit"] {
      background-color: $contrast-color;
      border: 3px solid $secondary-color;
      color: $tertiary-color;
    }
    a {
      color: $contrast-color;
    }
    #login-message,
    #password-validation-message,
    #email-validation-message {
      font-size: 13px;
      margin: 0;
      &.invalid {
        color: $error-message;
      }
      &.valid {
        color: $valid-message;
      }
    }
    h1 {
      margin: 12px 0;
    }
    #show-password {
      cursor: pointer;
    }
  }
  section {
    padding: 8%;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.search-bar {
  background-color: $tertiary-color;
  height: 60px;
  .container {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  input[type="text"] {
    width: 40vh;
  }
  input[type="submit"] {
    background-color: $contrast-color;
    color: $white;
    border: 1px solid $white;
  }
}
.product-page.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
#filter {
  width: 20%;
  height: 80%;
  background-color: $tertiary-color;
  border: 1px solid $secondary-color;
  margin: 20px 0;
  padding: 0 25px;
  box-sizing: border-box;
  position: sticky;
  top: 60px;
  h4 {
    color: $primary-color;
  }
  p {
    color: $contrast-color;
    margin: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
  }
  li {
    color: $primary-color;
    margin-top: 5px;
  }
}
#products_list {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: normal;
  margin-top: 13px;
  select {
    margin: 0.5%;
  }
  .after-select {
    flex-basis: 100%;
  }
  p {
    width: 100%;
    text-align: center;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $secondary-color;
    margin: 0.5%;
    width: 24%;
    box-sizing: border-box;
    position: relative;
    background-color: $tertiary-color;
    &:hover {
      box-shadow: 0 0 8px $secondary-color;
      a {
        position: absolute;
        top: 35%;
        display: inline-block;
        padding: 0.5em 3em;
        border: 0.16em solid $white;
        margin: 0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration: none;
        text-transform: uppercase;
        color: $white;
        text-align: center;
        background-color: $contrast-color;
        z-index: 10;
        font-size: 13px;
        cursor: pointer;
      }
      img {
        opacity: 0.3;
      }
    }
    a {
      display: none;
    }
    img {
      width: 100%;
      object-fit: contain;
      z-index: 9;
    }
    p {
      text-align: center;
      color: $contrast-color;
      padding: 0 10px;
      width: 100%;
      box-sizing: border-box;
    }
    span {
      align-self: start;
      font-weight: bold;
      margin: 10px;
    }
  }
}
#products {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    width: 50%;
  }
}

.product-container.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  #product-description {
    background-color: $tertiary-color;
    border: 1px solid $secondary-color;
    margin: 0.5%;
    width: 74%;
    box-sizing: border-box;
    position: relative;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    * {
      color: $primary-color;
    }
    h2 {
      font-weight: normal;
    }
    .images {
      width: 75%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
    .image-expanded {
      position: relative;
      display: block;
    }
    .images-small {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
      img {
        width: 15%;
        margin: 0 1%;
        border: 1px solid $tertiary-color;
        box-sizing: border-box;
        &:hover,
        &.active {
          border: 1px solid $secondary-color;
          box-shadow: 0 0 8px $secondary-color;
        }
      }
    }
    #details {
      width: 100%;
    }
    #specifications {
      width: 100%;
      table {
        tr:nth-of-type(odd) {
          background-color: $white;
        }
        td {
          padding: 8px;
        }
      }
    } 
  }
  p {
    text-align: justify;
  }
  #product-details {
    width: 24%;
    border: 1px solid $secondary-color;
    margin: 0.5%;
    box-sizing: border-box;
    position: relative;
    background-color: $tertiary-color;
    position: sticky;
    top: 60px;
    * {
      padding: 0 25px;
      display: block;
      color: $primary-color;
    }
    button {
      padding: 0.5em 3em;
      margin: 15px 10%;
      width: 80%;
      border: 0.16em solid $white;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      text-align: center;
      background-color: $contrast-color;
      z-index: 10;
      font-size: 13px;
      cursor: pointer;
    }
    a {
      border-top: 2px solid $secondary-color;
      padding: 15px 25px;
      text-decoration: none;
    }
  }
}
