body {
  margin: 0;
  padding-top: 50px;
}

body .logo {
  width: 50px;
  height: 50px;
}

body header {
  background-color: #535657;
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
}

body header span {
  color: #f4faff;
  margin-right: 20px;
  justify-self: flex-end;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container .subsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

body header .container .right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body nav {
  background-color: #DEE7E7;
}

body nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #535657;
  height: 40px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

body .hero {
  background-image: url("../images/header.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  height: 50vh;
  color: #f4faff;
}

body .hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body .hero form input[type="text"] {
  width: 15vw;
}

body .hero form label {
  display: block;
  text-align: center;
  padding-bottom: 15px;
}

body .hero form input[type="submit"] {
  background-color: #4F646F;
  color: #f4faff;
  border: 1px solid #DEE7E7;
}

body section.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 50px;
}

body section.carousel h3 {
  margin-top: 40px;
  text-transform: uppercase;
  color: #535657;
  font-weight: 300;
}

body section.carousel h4 {
  color: #535657;
  font-weight: 300;
  margin-top: 0;
}

body section.carousel .product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

body section.carousel .product-slider .product img {
  height: 150px;
}

body section.carousel .product-slider .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DEE7E7;
  padding: 10px;
}

body section.carousel .product-slider button {
  background-color: #4F646F;
  color: #f4faff;
  border: 1px solid #DEE7E7;
}

body section.carousel .product-slider .arrow {
  position: absolute;
  color: #DEE7E7;
  font-size: 25px;
  z-index: 1;
}

body section.carousel .product-slider .arrow-right {
  right: 20px;
  bottom: 120px;
}

body section.carousel .product-slider .arrow-left {
  left: 20px;
  bottom: 130px;
}

body section.carousel .product-slider small {
  font-weight: bold;
  margin-bottom: 5px;
}

body .hero2 {
  background-image: url("../images/product5.png");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  height: 25vh;
  margin-top: 50px;
  color: #f4faff;
}

body .hero2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body .hero2 h2,
body .hero2 small {
  font-weight: bold;
  color: #DEE7E7;
}

body .hero2 button {
  background-color: #4F646F;
  color: #DEE7E7;
  margin-top: 5px;
  border: 1px solid #DEE7E7;
}

.container {
  margin: 0 auto;
  width: 85vw;
}

button,
input[type="submit"] {
  cursor: pointer;
}

section.subscribe {
  background-color: #535657;
  height: 70px;
  font-weight: lighter;
  color: #f4faff;
}

section.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.subscribe input[type="text"] {
  width: 200px;
}

section.subscribe input[type="submit"] {
  background-color: #4F646F;
  color: #DEE7E7;
  border: 1px solid #DEE7E7;
}

footer {
  background-color: #DEE7E7;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F646F;
}

footer .container ul {
  list-style-type: none;
  padding-left: 0;
  color: #535657;
}

.pop-up {
  width: 40vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
  margin-left: auto;
  margin-right: auto;
}

.pop-up .left {
  background-image: url("../images/login-left.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(83, 86, 87, 0.9);
          box-shadow: inset 0 0 0 2000px rgba(83, 86, 87, 0.9);
  margin-top: 10px;
}

.pop-up .left h1,
.pop-up .left p {
  color: #DEE7E7;
}

.pop-up .left button {
  background-color: #4F646F;
  border: 1px solid #f4faff;
  color: #f4faff;
  width: 80%;
  margin: 0 auto;
}

.pop-up .right {
  background-color: #DEE7E7;
}

.pop-up .right label,
.pop-up .right input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0;
  margin: 7px 0;
}

.pop-up .right .wrapper {
  position: relative;
}

.pop-up .right #show-password {
  position: absolute;
  bottom: 5px;
  right: 3px;
  color: #535657;
}

.pop-up .right input[type="submit"] {
  background-color: #4F646F;
  border: 3px solid #DEE7E7;
  color: #f4faff;
}

.pop-up .right a {
  color: #4F646F;
}

.pop-up section {
  padding: 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar {
  background-color: #f4faff;
  height: 60px;
}

.search-bar .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-bar input[type=text] {
  width: 40vh;
}

.search-bar input[type=submit] {
  background-color: #4F646F;
  color: #ffffff;
  border: 1px solid #ffffff;
}

#filter {
  width: 30%;
}

#products_list {
  width: 70%;
}

#products {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#products li {
  width: 50%;
}
/*# sourceMappingURL=style.css.map */